/* Top Header */
._1mj span span {
    color: rgb(200, 200, 200) !important;
}

._1mj span span {
    color: rgb(200, 200, 200) !important;
}

._673w {
    background-color: #252525 !important;
}

/* Left Top Header */
._36ic {
    background-color: #252525 !important;
}

._23_m ._1qt3 {
    background-color: #353535 !important;
}

._23_m ._1htf {
    background-color: #353535 !important;
}

._23_m ._1ht6 {
    background-color: #353535 !important;
}

._23_m ._1qt5 {
    background-color: #353535 !important;
}

._23_m ._4-0h {
    background-color: #353535 !important;
}

._1ht2 ._2il3 {
    background-color: #353535 !important;
}

/* Left Chat Buttons */
._5l-3 {
    background-color: #252525 !important;
}

/*  Search Messenger Outer Layer*/
._58ah {

    background-color: #252525 !important;
}

/*  Search Messenger Inner Layer*/
._5iwm ._58al {
    background-color: #353535 !important;
}

/*  Search Messenger Text Inner Layer*/
._364g {
    color: rgb(200, 200, 200) !important;
}

._2y8z {
    color: rgb(200, 200, 200) !important;
}

._5iwm ._58al {
    color: rgb(200, 200, 200) !important;
}

._17w2 ._3oh- span {
    color: rgb(200, 200, 200) !important;
}

._2v6o {
    color: rgb(200, 200, 200) !important;
}

._1lj0 {
    color: rgb(200, 200, 200) !important;
}

._3szq {
    color: rgb(200, 200, 200) !important;
}

._3eus div {
    color: rgb(200, 200, 200) !important;
}

._3eur a {
    color: rgb(200, 220, 220) !important;
}

/*  Message subtitle */
._1htf {
    color: rgb(200, 200, 200) !important;
}

/* 'Messenger' */
._1tqi {
    color: rgb(200, 200, 200) !important;
}

/* Pretty Much everything */
._1t2u {
    background-color: #303030 !important;
}

/* Most things chat name white */
._1ht6 {
    color: rgb(200, 200, 200) !important;
}

._1htf span {
    color: rgb(200, 200, 200) !important;
}

/* Most things chat time white */
._1ht3 ._1ht7 {
    color: rgb(200, 200, 200) !important;
}

._1ht7 {
    color: rgb(200, 200, 200) !important;
}

/* Chasing more contact box*/
._19hf {
    background-color: #252525 !important;
}

._2jnv span {
    color: rgb(200, 200, 200) !important;
}

._4rph ._4rpj {
    color: rgb(200, 200, 200) !important;
}

._ih3 {
    color: rgb(200, 200, 200) !important;
}

._2lpt ._3oh- {
    color: rgb(200, 200, 200) !important;
}

._3_e8 .scrollable {
    background-color: #252525 !important;
}

._225b {
    color: rgb(200, 200, 200) !important;
}

._3q34 {
    color: rgb(200, 200, 200) !important;
}

._3q35 {
    color: rgb(200, 200, 200) !important;
}